/* ------------------------------------------------------------------- 

# Temukan Webinar Page

----------------------------------------------------------------------*/

body .wadah {
    font-family: 'Lexend Deca', sans-serif;
}

.navBarEo {
    background-color: #0E1B3A;
}

.navBarUsername {
    text-align: right;
}

.panggilUsername {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.txtLogout {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.produk-filter {
    margin-bottom: 80px;
}

.produk-filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.produk-filter ul h4 {
    margin-left: 35px;
}

.produk-filter ul li {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    margin: 15px;
    border: 2px solid #0E1B3A;
    color: black;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 25px;
}

.produk-filter ul li:hover {
    border: 2px solid #FFC224;
    background-color: #FFC224;

}

.produk-filter ul li.active {
    border: 2px solid #FFC224;
    background-color: #FFC224;

}

.produk-gambar {
    padding: 10px;
    padding-bottom: 0;
}

.produk-gambar img {
    border-radius: 5px;
    margin-bottom: 20px;
    width: 212px;
    height: 212px;
}

.single-product-item .max h5 {
    font-weight: 600;
    margin: 10px;
    margin-bottom: 10px;
}

.single-product-item .max h5:hover {
    color: #FFC224;
}

.single-product-item .max span {
    margin: 15px;
    margin-bottom: 10px;
}

.kotak-kategori p {
    width: fit-content;
    font-weight: 700;
    font-size: 10px;
    background-color: #FFC224;
    color: black;
    border-radius: 5px;
    padding: 2px 2px;
    margin: 10px;
}

.kotak-lokasi p {
    width: fit-content;
    font-weight: 700;
    font-size: 10px;
    background-color: #FFC224;
    color: black;
    border-radius: 5px;
    padding: 2px 2px;
    margin: 10px;
}

/* ------------------------------------------------------------------- 

# Temukan Webinar Detail Page

----------------------------------------------------------------------*/

.tombol-daftar a {
    background-color: #0E1B3A;
    margin-left: 400px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
}

.tombol-daftar a:hover {
    background-color: #FFC224;
    color: white;
}

.contact-form-box img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.bungkus-deskripsi {
    border: 2px solid rgb(209, 208, 208);
    border-radius: 20px;
    width: 100%;
    margin-top: -100px;
}

.bagian-judul h3 {
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
}

.bagian-judul h3:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: #FFC224;
    margin: 0 auto;
}

.bagian-judul p {
    font-size: 15px;
    width: 530px;
    margin: 0 auto;
    color: black;
    margin-top: 10px;
    line-height: 1.8;
}

.bagian-judul {
    margin-bottom: 80px;
}

.bagian-deskripsi {
    margin: 30px;
    margin-top: -50px;
}

.bagian-deskripsi p {
    font-size: 18px;
}

/* ------------------------------------------------------------------- 

# Form Daftar Webinar Page

----------------------------------------------------------------------*/

.kontak-form-wrap {
    background-color: #FFC224;
    padding: 45px 30px;
    height: 509px;
}

.kontak-form-box {
    padding-left: 40px;
    margin-bottom: 30px;
}

.kontak-form-box h4 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
}

.kontak-form-box h4 i {
    position: absolute;
    left: -13%;
    color: #FFC224;
    top: 2px;
}

.kontak-form-box p {
    line-height: 1.8;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 600;
}

.kontak-form-wrap .kontak-form-box:last-child {
    margin: 0;
}

.vektor-form {
    width: 90%;
    margin-left: 20px;
    margin-top: 150px;
}

.daftar-form form input,
.form-group select {
    width: 90%;
    height: 50px;
    margin-bottom: 25px;
}

.kotak-telepon {
    margin-left: -55px;
}

.daftar-form form button {
    background-color: #0E1B3A;
    border-radius: 20px;
    width: 15%;
    cursor: pointer;
    color: white;
}

.daftar-form form button:hover {
    background-color: #FFC224;
    color: white;
}

.daftar-form button h4 {
    color: white;
}

/* ------------------------------------------------------------------- 

# Dashboard Admin Page

----------------------------------------------------------------------*/

.menu-samping ul li a {
    font-size: 16px;
}

.menu-samping ul li.active {
    background-color: #FFC224;
    border-radius: 10px;

}

.link-menu {
    margin-right: 20px;
    color: black;

}

.menu-samping ul li:hover {
    background-color: #FFC224;
    color: black;
    border-radius: 10px;
}

.kotak-data {
    border: 2px solid rgb(219, 218, 218);
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.kotak-data span {
    font-size: 25px;
    font-weight: 500;
}

.kotak-data .kotak-ikon i {
    font-size: 60px;
}

.kotak-teks {
    text-align: right;
}

/* ------------------------------------------------------------------- 

# Data User Admin Page

----------------------------------------------------------------------*/